<%= form_with model: team, method: :create do |form| %>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
      <% team.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :manager %><br>
      <%= form.text_area :manager %><br>
      <% team.errors.full_messages_for(:manager).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
  <% end %>