<tr>
    <td><%= irlgame.home %></td>
    <td><%= irlgame.away %></td>
    <td><%= irlgame.home_score %></td>
    <td><%= irlgame.away_score %></td>
    <td><%= Irlleague.find(irlgame.irlleague_id).name %></td>
    <td><%= irlgame.gamestart %></td>
</tr>
