<%= stylesheet_link_tag 'articles_show.css' %>

<h1><%= @irlgame.home %> <%= @irlgame.home_score %> - <%= @irlgame.away %> <%= @irlgame.away_score %></h1>

<table>
    <th>Players</th>
    <th>Goals</th>
    <th>Assists</th>
    <th>Fantasy Points</th>
    <%= render @irlgame.gamelogs %>
</table>
