<h1><%= @player.name %></h1>
<h3><%= link_to @player.team.name, @player.team %></h3>
<p><%= @player.position %></p>
<p><%= @player.sofaid %></p>

<table>
    <th>Home Team</th>
    <th>Away Team</th>
    <th>Result</th>
    <th>Goals</th>
    <th>Assists</th>

    <% @player.gamelogs.each do |gamelog| %>
        <%= render partial: 'gamelogs/pgamelog', locals: { gamelog: gamelog } %>
    <% end %>


</table>