<tr>
    <td>
        <%= link_to gamelog.irlgame.home, gamelog.irlgame %>
    </td>
    <td>
        <%= gamelog.irlgame.away %>
    </td>
    <td>
        <%= gamelog.irlgame.home_score %> - <%= gamelog.irlgame.away_score %>
    </td>
    <td>
        <%= gamelog.goals %>
    </td>
    <td>
        <%= gamelog.assists %>
    </td>
</tr>